<header class="flex items-center justify-between my-8">
    <div>
        <a aria-label="VNStreet" href="/">
            <div class="flex items-center">
                <div class="mr-3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="53.87" height="43.61" viewBox="344.564 330.278 111.737 91.218">
                        <defs>
                            <linearGradient id="logo_svg__b" x1="420.97" x2="420.97" y1="331.28" y2="418.5" gradientUnits="userSpaceOnUse">
                                <stop offset="0%" style="stop-color:#761b79;stop-opacity:1"></stop>
                                <stop offset="30%" style="stop-color:#9b44a0;stop-opacity:1"></stop>
                                <stop offset="100%" style="stop-color:#ffffff;stop-opacity:1"></stop>
                            </linearGradient>
                            <linearGradient id="logo_svg__d" x1="377.89" x2="377.89" y1="331.28" y2="418.5" gradientUnits="userSpaceOnUse">
                                <stop offset="0%" style="stop-color:#761b79;stop-opacity:1"></stop>
                                <stop offset="30%" style="stop-color:#9b44a0;stop-opacity:1"></stop>
                                <stop offset="100%" style="stop-color:#ffffff;stop-opacity:1"></stop>
                            </linearGradient>
                            <path id="logo_svg__a" d="M453.3 331.28v28.57l-64.66 58.65v-30.08l64.66-57.14Z"></path>
                            <path id="logo_svg__c" d="M410.23 331.28v28.57l-64.67 58.65v-30.08l64.67-57.14Z"></path>
                        </defs>
                        <use xlink:href="#logo_svg__a" fill="url(#logo_svg__b)"></use>
                        <use xlink:href="#logo_svg__c" fill="url(#logo_svg__d)"></use>
                    </svg>
                </div>
                <div class="hidden h-6 text-2xl font-extrabold sm:block">VNStreet</div>
            </div>
        </a>
    </div>
    <div class="flex items-center space-x-4 sm:space-x-6">
        <a class="hidden sm:block font-medium text-gray-100" href="/blog">Blog</a>
        <a class="hidden sm:block font-medium text-gray-100" href="/tags">Tags</a>
        <a class="hidden sm:block font-medium text-gray-100" href="/about">About</a>
        <button aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-gray-100 h-6 w-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
            </svg>
        </button>           
        <a class="bg-purple-500 rounded-md py-5 px-4 font-medium text-white sm:py-0" href="/signout">Sign Out</a>
    </div>
</header>